# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Spring2021(16)\CSC122 Python Application\Lesson9\copy\WakeGolfTour\WGT_Website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
